<!DOCTYPE html>
<html>
    <head>
        <title>Hola Mundo con Vue.js</title>
    </head>
    <body>
        <div id="app">
            
            <h1>{{title}}</h1>

            <input type="text" v-model="newShoe"/>
            <button v-on:click="addShoe">Agregar</button>

            <ul>
                <li v-for="fruit of fruits">{{fruit}}</li>
            </ul>

            <ul>
                <li v-for="shoe of shoes">{{shoe.quantity}} - {{shoe.name}}
                    <span v-if="shoe.quantity === 0">- Sin stock</span>
                </li>
            </ul>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="02.js"></script>
    </body>
</html>